<% provide(:title, "AAA")%>

<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

   <%= render 'layouts/def' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
   <%= yield %>
  </body>
</html>

